@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR',
    'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  --aspect-series: 3 / 4;

  --animate-swing: swing 0.5s ease-in-out;
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(5deg);
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-code: var(--code);
  --color-code-comment-quote: var(--code-comment-quote);
  --color-code-keyword-name: var(--code-keyword-name);
  --color-code-template-variable: var(--code-template-variable);
  --color-code-regexp-string: var(--code-regexp-string);
  --color-code-bullet-link: var(--code-bullet-link);
  --color-code-attr-built-in: var(--code-attr-built-in);
  --color-code-attribute-subst: var(--code-attribute-subst);
  --color-code-selector-class-id: var(--code-selector-class-id);
  --color-code-addition: var(--code-addition);
  --color-code-deletion: var(--code-deletion);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.67 0.2 264);
  --primary-foreground: oklch(0.98 0 0);
  /*TODO*/
  /*--primary: oklch(0.21 0.006 285.885);*/
  /*--primary-foreground: oklch(0.985 0 0);*/
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --code: oklch(0.967 0.001 286.375);
  --code-comment-quote: 0 100% 25%; /* #800 */
  --code-keyword-name: 240 100% 25%; /* #008 */
  --code-template-variable: 30 100% 40%; /* #660 */
  --code-regexp-string: 120 100% 25%; /* #080 */
  --code-bullet-link: 200 100% 20%; /* #066 */
  --code-attr-built-in: 240 10% 40%; /* #606 */
  --code-attribute-subst: 0 0% 0%; /* #000 */
  --code-selector-class-id: 30 30% 38%; /* #9b703f */
  --code-addition: 140 50% 75%; /* #baeeba */
  --code-deletion: 10 100% 85%; /* #ffc8bd */
}

.dark {
  --background: oklch(0.1185 0.0044 257.43);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.67 0.2 264);
  --primary-foreground: oklch(0.98 0 0);
  /*TODO*/
  /*--primary: oklch(0.21 0.006 285.885);*/
  /*--primary-foreground: oklch(0.985 0 0);*/
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --code: oklch(0.274 0.006 286.033);
  --code-comment-quote: 0 100% 25%; /* #800 */
  --code-keyword-name: 240 100% 25%; /* #008 */
  --code-template-variable: 30 100% 40%; /* #660 */
  --code-regexp-string: 120 100% 25%; /* #080 */
  --code-bullet-link: 200 100% 20%; /* #066 */
  --code-attr-built-in: 240 10% 40%; /* #606 */
  --code-attribute-subst: 0 0% 0%; /* #000 */
  --code-selector-class-id: 30 30% 38%; /* #9b703f */
  --code-addition: 140 50% 75%; /* #baeeba */
  --code-deletion: 10 100% 85%; /* #ffc8bd */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply text-foreground bg-background;
  }
}
