@reference "../app/globals.css";

.EasyMDEContainer {
  @apply h-full max-h-full overflow-auto;
}
.CodeMirror-rtl pre {
  direction: rtl;
}
.EasyMDEContainer .CodeMirror {
  @apply h-full p-6;

  box-sizing: border-box;
  font: inherit;
  z-index: 0;
  word-wrap: break-word;
}
.EasyMDEContainer .CodeMirror-scroll {
  cursor: text;
}
.EasyMDEContainer .CodeMirror-placeholder {
  opacity: 0.5;
}

.CodeMirror {
  position: relative;
  overflow: hidden;
  direction: ltr;
  color: var(--color-foreground);
  background: var(--color-editor);
}

.CodeMirror-cursor {
  border-left: 1px solid var(--color-foreground);
  border-right: none;
  width: 0;
}

.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  overflow: hidden;
}

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute;
}

.cm-header-1 {
  @apply text-2xl;
}
.cm-header-2 {
  @apply text-xl;
}
.cm-header-3 {
  @apply text-lg;
}
.cm-header-4 {
  @apply text-base;
}
.cm-header-5 {
  @apply text-sm;
}
.cm-header-6 {
  @apply text-xs;
}
.cm-header,
.cm-strong {
  @apply font-semibold;
}
.cm-em {
  font-style: italic;
}
.cm-strikethrough {
  text-decoration: line-through;
}
.cm-image-marker {
  color: var(--color-secondary-foreground);
}
.cm-comment {
  background: var(--color-muted);
  border-radius: 2px;
}
.cm-link {
  color: var(--color-secondary-foreground);
  text-decoration: none;
}

.cm-url {
  color: var(--color-muted-foreground);
  text-decoration: underline;
}
.cm-quote {
  color: var(--color-muted-foreground);
  background: var(--color-muted);
  font-style: italic;
}
.cm-hr {
  color: var(--color-muted-foreground);
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

.CodeMirror-scroll {
  overflow: scroll !important;
  min-height: auto !important;
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: 0;
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}
.CodeMirror-gutter-filler,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-vscrollbar {
  position: absolute;
  z-index: 6;
  display: none;
  outline: 0;
}
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}
.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: 0 0 !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: 0 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}
.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
}
.CodeMirror-rtl pre {
  direction: rtl;
}
.CodeMirror-code {
  outline: 0;
}
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-scroll,
.CodeMirror-sizer {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre {
  position: static;
}
div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}
.CodeMirror-selected {
  @apply bg-primary/30;
}
span.CodeMirror-selectedtext {
  background: 0 0;
}

.CodeMirror-focused .CodeMirror-selected {
  @apply bg-primary/30;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  @apply bg-primary/30;
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4);
}
.cm-force-border {
  padding-right: 0.1px;
}
@media print {
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}
.cm-tab-wrap-hack:after {
  content: '';
}
